.app--toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 60px;
    background: #4a76a8;
    border-bottom: 1px solid #4872a3;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    justify-content: space-between;
    padding: 0px 18px;
    .add-new {
        width: 130px;
        min-height: 60px;
        border-radius: 0;
        font-weight: bold;
        font-size: 18px;
        span {
            margin-right: 10px;
        }
    }
}

.app--toolbar {
    color: white;
    font-family: "Quicksand";
    .title {
        font-size: 25px;
        padding-left: 15px;
        cursor: pointer;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }
    .tools {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div {
            cursor: pointer;
            padding: 0 15px;
            text-align: right;
            min-width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: #376190;
            }
        }
        .left-spacing {
            margin-left: 8px;
        }
    }
}